<!DOCTYPE html>
<html>
<head>
  <title>Register with Google</title>
  
  <link rel="stylesheet" type="text/css" href="./style.css">
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="./scripts.js">const onSignIn=(googleUser) =>{
    // Get the user's ID token and basic profile information
    var id_token = googleUser.getAuthResponse().id_token;
    var profile = googleUser.getBasicProfile();
  
    // Send the ID token and profile information to your server to create a new user account
    // You can use fetch or XMLHttpRequest to send the data to your server
    var xhr = new XMLHttpRequest();
    xhr.open('POST', 'https://yourserver.com/register');
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.onload = function() {
      if (xhr.status === 200) {
        // Registration was successful
        var message = document.getElementById("message");
        message.innerHTML = "Welcome, " + profile.getName() + "! Your account has been created.";
      } else {
        // Registration failed
        console.error('Registration failed: ' + xhr.status);
      }
    };
    xhr.send(JSON.stringify({
      id_token: id_token,
      email: profile.getEmail(),
      name: profile.getName()
    }));
  }
  </script>
</head>
<body>
  
  <div class="container">
    <h1>Welcome to my site</h1>
    <p>Please sign in with your Google account to register</p>
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
    <button id="message" type="submit" ondblclick="onSignIn()" >click</button>
  </div>

</body>
</html>
